* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    background: rgb(32, 32, 64);
    padding: 10px;
    margin: 10px;
    color: rgb(245, 229, 229);
    background: url('../img/bg-site.jpg') no-repeat;
    background-size: cover;
}
    

.container {
    margin: 10px;
    padding: 20px;
    background-color: rgb(214, 208, 208);
    border-radius: 20px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
   
  
}

.container h1 {
    text-align: center;
    padding: 10px;
    color:rgb(42, 66, 87);
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.container p {
    padding: 10px;
    margin: 10px;
    color:rgb(32, 32, 74);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container h2 {
    padding: 3px;
    margin: 10px;
    color:rgb(50, 109, 162);
    font-size: 25px;
}

.container ul {
    padding: 10px;
    margin: 10px;
    color:rgb(32, 32, 74);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container ol {
    padding: 10px;
    margin: 10px;
    color: rgb(42, 66, 87);
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    
}
.container h3 {
    padding: 10px;
    margin: 10px;
    color: rgb(50, 109, 162);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.link a {
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    color: rgb(223, 232, 235);
    background-color: rgb(50, 109, 162);
    border-radius: 70px;
    text-align: center;
    
}
.link a:hover {
    text-decoration: underline;
    color:rgb(16, 16, 128);
}