body{
background: rgb(197, 203, 200);
}

.container {
background-color: rgb(157, 154, 154);
padding: 10px;
margin-top: 10pxpx;
border-radius: 10px;
margin-left: 40px;
margin-right: 40px;
text-align: center;
color: rgb(42, 21, 75);
font-size: 25px;

}

input {
    padding: 10px;
    background: rgb(25, 15, 55);
    border-radius: 10px;
    color: rgb(226, 199, 199);
    text-align: center;
    font-size: 15px;
    border: 2px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* box-shadow: 2px black; */
    outline:none;
}
button{
    padding: 10px;
    background:white;
    color: rgb(69, 73, 161);;
    border-radius: 10px;
    border: 2px solid rgb(69, 73, 161);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}