body {
    background-color: rgb(181, 174, 76);
    text-align: center;
}

h1 {
    
    padding: 50px;
    color: rgb(17, 17, 17);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: rgb(244, 242, 242);
    border: 2px solid gray
    
}

h2 {
   
    padding: 30px;
    color: rgb(31, 23, 23);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
}

.img2 {
    width: 100%;
    height: 150%;
    border-radius: 30px;
    padding: 20px; 
   
    
}

marquee {
    font-size: 20px;
    color: rgb(18, 18, 18);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}