
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: #CDC9C9;
    color: #333;
}

.faixa-topo {
    width: 100%;
    height: 25px;      
    background-color: #d60000; 
}

.navbar {
    width: 100%;
    background-color: white;
    border-bottom: 3px solid #d60000; 
}


.navbar-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo-senai {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

span {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    
}
.logo-senai img {
    width: 150px;
    height: auto;
}


.logo-senai span {
    font-size: 18px;
    font-weight: bold;
    color: #d60000;
    text-transform: uppercase;
    
}

/* MENU */
.nav-links {
    display: flex;
    gap: 35px;
    color:#d60000;
    font-size: 30px;
    text-align: center;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #d60000;
}

h1 {
    padding: 10px;
    text-align: center;

}

.home {
    text-align: center;
    padding: 50px;
    background: #ffffff;
    margin-top: 20px;
    border-radius: 10px;
}

.home h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.home p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background: #d60000;
    color: #fff;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background: #a00000;
}


.carrossel {
    width: 100%;
    overflow: hidden;
    margin: 40px 0;
}

.carrossel-container {
    display: flex;
    width: 300%;
    animation: slide 20s infinite linear;
}

.slide img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 12px;
}


@keyframes slide {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(0); }
}


.sobre {
    padding: 50px 20px;
    background: #fff;
    text-align: center;
}

.sobre h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.sobre p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
}


footer {
    margin-top: 30px;
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
}
